<h1>{{headlineSigners}}</h1>
<ul>
  {{#each names}}
    <li><a href="https://{{user_url}}">{{first}} {{last}}</a>, {{user_age}}, <a href="/signers/{{user_city}}">{{user_city}}</a></li>
  {{/each}}

</ul>
