<!-- <div class="projectName">
    <h2>Welcome to the {{projectName}} page</h2>
           <p>Project title: {{title}}<p>
           <p>Description: {{description}}</p>
           <img src="/public/projects/{{projectName}}/image.jpg">
           <form action="/public/projects/{{projectName}}/index.html">
               <input type="submit" value="Come See It" id='button-to-project' />
            </form>

</div> -->

<h1>{{thanksMessage}}</h1>
<img src={{thanksImage}} id='thanksImg' />
<img src={{signatureImg}} id = 'signImg' / />
<a href={{linkToSigners}}><button type="button" name="button" id='toSignersBtn'>{{toSignersBtn}}</button></a>

<form action = "/petition/removeSig" method="post">
    <button type="submit" name="button">Remove your signature</button>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

</form>
